{% extends 'user_index.html' %}

{% block title %}<title>Edit Profile</title>
<style>
body{
    background: #f7f7ff;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle width="150">
                            <div class="mt-3">
                                <h4>{{client_info[0][3]}} {{client_info[0][4]}}</h4>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form action = '/edit_info' method="post">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="phone" placeholder = {{client_info[0][9]}}>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Age</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="age" placeholder = {{client_info[0][5]}}>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">City</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="city" placeholder = {{client_info[0][6]}}>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Occupation</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="occupation" placeholder = {{client_info[0][7]}}>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Concerns</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <select class="form-control" name = "concerns" placeholder = {{client_info[0][8]}}>
                                    <option value="OCD">OCD</option>
                                    <option value="Family Issues">Family Issues</option>
                                    <option value="Family Issues">Romantic Issues</option>
                                  </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Relationship Status</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <select class="form-control" name = "relationship_status" placeholder = {{client_info[0][11]}}>
                                    <option value="married">Married</option>
                                    <option value="unmarried">Unmarried</option>
                                  </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Emergency Contact</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="emergency_contact" placeholder = {{client_info[0][10]}}>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Time Period</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <select class="form-control" name = "timeperiod" placeholder = {{client_info[0][14]}}>
                                    <option value="Within a Week">Within a Week</option>
                                    <option value="Within a Month">Within a Month</option>
                                    <option value="As Soon As Possible">As Soon As Possible</option>
                                  </select>
                            </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <a href = '/edit_info'><input type="submit" class="btn btn-primary btn-block btn-lg" value="update"></a>              
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}