<!doctype html>
<html lang="en">
  <head> 
	{% block title %}<title>Profile</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" class="active">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="/" class="logo">PFT</a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="/user_index"><span class="fa fa-home mr-3"></span> Home</a>
	          </li>
	          <li>
	              <a href="/user_profile"><span class="fa fa-user mr-3"></span> Profile Details</a>
	          </li>
	
	          <li>
              <a href="/logout"><span class="fa fa-sign-out"></span> Sign Out</a>
	          </li>
	        </ul>        
    	</nav>

        <!-- Page Content  -->
		
      <div id="content" class="p-4 p-md-5 pt-5">
		{% block body %}
        <h2 class="mb-4">Welcome {{client_info[0][3]}} {{client_info[0][4]}}</h2>
        <p>{{description}}</p>
		{% if profile_complete == False %}
			<p><a href = '/edit_profile'>Click Here</a></p>
		{% endif %}
		{% endblock %}
      </div>
		</div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
